################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GYMONE/GYMONE/.vs
/GYMONE/GYMONE/GYMONE/bin
/GYMONE/GYMONE/GYMONE/obj/Debug
